img{
	width: 30%;
	float: left;
	margin: 1.66%;
}
div{
	margin: auto;
}
p{
	font-family: Raleway;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 800;
	margin-top: 3%;
	width: 30%;
	margin-left: 1.66%;
	border-bottom: 2px solid #f1f1f1;
	padding-bottom: 18px;
}