<h1>This is the movies details page.</h1>

<ul>
	<% data["Search"].forEach(function(movie){ %>
	<li><%= movie["Title"] %> - <%= movie["Year"] %>
	</li>
	<img src="<%= movie["Poster"] %>">
	<% }); %>
</ul>

<a href="/">Click here to go to Home Page.</a>
